@using AzureP33.Models.Orm

@model AzureP33.Models.Home.HomeIndexViewModel
@{
    ViewData["Title"] = "Перекладач";
}
<div class="text-center">
    <h1 class="display-4">Хмарні технології і використання Microsoft Azure під час розробки додатків</h1>
</div>

<h2 class="display-5">Перекладач</h2>


<form class="d-flex" method="get">
    <div class="flex-grow-1">
        <label for="source-textarea" class="form-label">Текст, що буде перекладвтися</label>
        <select id="lang-from" class="form-select" aria-label="Мова орігінала" name="lang-from">
            @{
                string langFromSelectedKey = Model.FormModel?.LangFrom ?? "uk";
            }
            @foreach (var item in Model.LanguagesResponse!.Translations)
            {
                string content = (item.Value.Name != item.Value.NativeName) ?
                item.Value.Name + " (" + item.Value.NativeName + ")"
                : item.Value.Name;
                if (langFromSelectedKey == item.Key)
                {

                    <option selected value="@item.Key">@content</option>
                }
                else
                {
                    <option value="@item.Key">@content</option>
                }
            }

        </select>
        <div class="mb-3">
            @{
                string translit = ViewData["transliterationResult"] as string;
                var originalTextValue = !string.IsNullOrWhiteSpace(translit)
                ? translit.Trim()
                : (Model.FormModel?.OriginalText ?? "Вітаю");  
            }
            <textarea name="original-text"
                      class="form-control"
                      id="source-textarea"
                      rows="3"
                      data-val="true"
                      data-val-required="@(ViewBag.OriginalTextError ?? "Текст для перекладу обов' язковий")"
                      data-val-minlength="Текст має містити щонайменше 2 символи"
                      data-val-minlength-min="2">@originalTextValue</textarea>
            <span class="text-danger" data-valmsg-for="original-text" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="flex-grow-1"></div>
    <div class="flex-grow-0 m-3">
        <button class="btn btn-outline-danger" type="button" id="btn-swap-languages">
            <i class="bi bi-arrow-left-right"></i>
        </button>
        <br />
        <button class="btn btn-outline-success" type="submit" name="action-button" value="translate">
            <i class="bi bi-translate"></i>
        </button>
        <button class="btn btn-outline-warning" type="submit" name="action-button" value="transliterate">
            <i class="bi bi-translate"></i>
        </button>
    </div>
    <div class="flex-grow-1"></div>
    <div class="flex-grow-1">
        <label for="translation-textarea" class="form-label">Результат перекладу</label>
        <select id="lang-to" class="form-select" aria-label="Мова перекладу" name="lang-to">
            @{
                string langToSelectedKey = Model.FormModel?.LangTo ?? "en";
            }
            @foreach (var item in new Dictionary<string, LangData>(Model.LanguagesResponse.Translations))
            {
                string content = (item.Value.Name != item.Value.NativeName) ?
                item.Value.Name + " (" + item.Value.NativeName + ")"
                : item.Value.Name;
                if (langToSelectedKey == item.Key)
                {

                    <option selected value="@item.Key">@content</option>
                }
                else
                {
                    <option value="@item.Key">@content</option>
                }
            }
        </select>
        <div class="mb-3">
            <textarea disabled readonly class="form-control" id="translation-textarea" rows="3">@(Model.Items?.FirstOrDefault()?.Translations?.FirstOrDefault()?.Text)</textarea>
        </div>
    </div>
</form>


@ViewData["result"]



@if (Model.ErrorResponse != null)
{
    <div class="alert alert-danger" role="alert">
        @Model.ErrorResponse.Error.Message (@Model.ErrorResponse.Error.Code)
    </div>
}

<h2 class="display-6">Розміщення парольної інформації у проектах, що публікуються</h2>
<p>
    За умов коли в проєкті є API-ключі, паролі до БД або токену доступу до
    сторонніх сервісів виникає питання забезпечення їх секретності.
    Зазвичай проблема вирішується розділенням проєктних файлів на секретні,
    які вилучені з репозиторію, та їх копії, які мають правильну структуру,
    але заминену парольну інформацію.
</p>
<ul>
    <li>
        Вносимо до файлу <code>.gitignore</code> запис щодо файлів з
        конфігурацією (наприклад, <code>azuresetting.json</code>)
    </li>
    <li>
        Створюємо самі файли конфігурації
    </li>
    <li>
        Створюємо копії файлів конфігурації, замінюємо в них чутливі дані
    </li>
    <li>
        Складаємо
    </li>
</ul>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}